<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningNew"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LearningNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".SimpleTextActivity" />
        <activity android:name=".TextStylingActivity" />
        <activity android:name=".TextFieldActivity" />
        <activity android:name=".SimplePreviewActivity" />
        <activity android:name=".PreviewParameterActivity" />
        <activity android:name=".ColumnActivity" />
        <activity android:name=".ScrollableColumnActivity" />
        <activity android:name=".LazyColumnActivity" />
        <activity android:name=".RowActivity" />
        <activity android:name=".ScrollableRowActivity" />
        <activity android:name=".LazyRowActivity" />
        <activity android:name=".BoxActivity" />
        <activity android:name=".StackActivity" />
        <activity android:name=".ConstraintLayoutActivity" />
        <activity android:name=".MaterialButtonActivity" />
        <activity android:name=".CardExampleActivity" />
        <activity android:name=".ClickableExampleActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".SingleChoiceDialogActivity" />
        <activity android:name=".MaterialAppBarActivity" />
        <activity android:name=".MaterialBottomNavigationActivity" />
        <activity android:name=".MaterialCheckBoxActivity" />
        <activity android:name=".MaterialProgressActivity" />
        <activity android:name=".MaterialRadioButtonActivity" />
        <activity android:name=".MaterialSliderActivity" />
        <activity android:name=".MaterialSnackbarActivity" />
        <activity android:name=".MaterialSwitchActivity" />
        <activity android:name=".CustomViewActivity" />
        <activity android:name=".CrossFadeAnimationActivity" />
        <activity android:name=".ShapeRotationActivity" />
    </application>

</manifest>